html {
    height:100%;
}
body {
    margin: 0;
/*     width:100%; */
    height:100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 80%;
    height: 100%;
    margin: 0 auto;

}

.flex-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    background-color:green;
    width: 100%;
    margin: .125em auto;
    padding: 1em;
    color: white;
    
}

h1 {
    font-size: 7.5vmin;
    text-shadow: 1vmin 1vmin 5vmin black;
    text-align: center;
}

p {
    font-size: 3.75vmin;
    line-height: 5vmin;
    text-align: center;
    text-shadow: 1vmin 1vmin 5vmin black;

}

.banner, .recover, .pruning, .landscape, .contact {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
/*     overflow: hidden; */

}

.banner {
    background-image:url(../images/banner.jpg);
}
.recover {
    background-image: url(../images/landscape.jpg);
}
.pruning {
    background-image: url(../images/pruning.jpg);
}
.landscape {
    background-image: url(../images/landscape.jpg);
}
.contact {
    background-image: url(../images/contact.jpg);
}